<form method="POST">
    <p style="text-align: center;"><strong>Plate Generator </strong></p>
    <blockquote>
    <p style="text-align: center;"><em>(A simple cpu-only front-end)</em></p>
    <p>Generates 128x32 greyscale images of Indian Car Number Plates using a pre-trained GAN. </p>
    </blockquote>
    <p>Input number (required) and state (optional). Leaving it blank will pick state codes at random.<br /><br /> <input name="num" type="text" /> <input name="state_input" type="text" /><input type="submit" value="Download" /></p>
    <p>Example: '6' ; 'OD' creates a .zip of 6 images like this one.</p>
    <p><img src="/static/sample.png" width="128" height="32" /></p>
    <p><span style="color: #333333;">Developed as a project-based-learning exercise during my internship at CDAC, Pune to fulfill the requirements of Practice School I.<br /></span></p>
    <p><span style="color: #333333;">Varun Singh (<a style="color: #333333;" href="mailto:f20180869@goa.bits-pilani.ac.in">f20180869@goa.bits-pilani.ac.in</a>)</span></p>
    <p>&nbsp;</p>
    </form>